<h1><%= t('view.book.title.show') %></h1>

<h2><%= t('view.book.title.show_detail.show') %></h2>
<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:memo) %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('view.book.link.edit'), edit_book_path(@book) %> |
<%= link_to t('view.book.link.back'), books_path %>

<h2><%= t('view.book.title.show_detail.comments') %></h2>
<%= render 'books/comments/comments', comments: @comments %>

<h2><%= t('view.book.title.show_detail.comment_form') %></h2>
<%= render 'books/comments/form', comment: @comment %>
