<div style='margin-top: 10px; padding: 6px; border: solid #2E2F30 1px;'>
  <div>
    <%= simple_format(comment.body) %>
  </div>
  <div>
    <%= image_tag user.avatar.variant(resize: "20x20") if comment.user.avatar.attached? %>
    <%= link_to (comment.user.full_name || comment.user.email), comment.user %>
    <%= l(comment.created_at, format: :long) %>
    <% if comment.user == current_user %>
      <%= link_to t('view.book/comment.link.edit'), edit_book_comment_path(comment.book, comment) %>
      <%= link_to t('view.book/comment.link.destroy'), book_comment_path(comment.book, comment), method: :delete, data: { confirm: t('view.book/comment.confirm.destroy') } %>
    <% end %>
  </div>
</div>
