<% book = comment.commentable %>
<% url = comment.new_record? ? book_comments_path(book, comment) : book_comment_path(book, comment) %>
<%= form_with(model: comment, url: url, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
